<% provide(:title, "Submit A News") %>
<%= form_for(@content) do |f| %>
  <% if @content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@content.errors.count, "error") %> prohibited this content from being saved:</h2>

      <ul>
      <% @content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :news_title %><br>
    <%= f.text_area :news_title,:rows=>"7" ,:cols=>"60" ,required: true, placeholder: "(required)"%><br />
  </div>
  <div class="field">
    <!--Link for the news <%= f.text_field :news_website %>-->
  </div>
  <div class="field">
    News source (optional) <%= f.text_field :news_source %>
  </div>
  <div class="field">
    <%= f.hidden_field :author, :value => current_user.name %>
  </div>
  <div class="actions">
    <%= f.submit "Submit"%>
  </div>
<% end %>
