<h1>Editing Content</h1>
<%= form_for(@content) do |f| %>
<!--<%= render 'form' %>-->
<%= @content.news_title%> (<%= @content.news_source %>)<br>
         by <%=@content.author%> |
        <%= time_ago_in_words(@content.created_at) %> ago|
        <%= link_to @content.comment.count, comments_content_path(@content)  %> comments <br><br>
 <br><%= f.text_area :comment,:rows=>"7" ,:cols=>"60" ,required: true, placeholder: "(test)"%><br />
  

    <%= f.submit "Submit"%>
<% end %>
<br><br>
  <%= @content.author %>
  <%= time_ago_in_words(@content.created_at) %> ago<br><br>
  


<%= link_to 'Show', @content %> |
<%= link_to 'Back', contents_path %>
