<% provide(:title, "Home Page #" << @page.to_s) %>
<!--<p id="notice"><%= notice %></p>-->

<h1>RMIT News</h1>

  <tbody>
    <% @contents.each do |content| %>
      <tr>
        <%= link_to content.news_title , content.news_source %> <br>
         by <%= link_to content.author, current_user%> |
              <%= time_ago_in_words(content.created_at) %> ago|
        <%= link_to content.comment.count.to_s << ' comments', '/item?id=' << content.id.to_s %>
        <br><br>
       
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Load more', root_path(page: @page.to_i + 1), class: "btn btn-info"%>
<br>

<%= link_to 'New Content', new_content_path %>

