<p id="notice"><%= notice %></p>

<p>
  <strong>News title:</strong>
  <%= @content.news_title %>
</p>

<p>
  <strong>News source:</strong>
  <%= @content.news_source %>
</p>

<p>
  <strong>Author:</strong>
  <%= @content.author %>
</p>

<p>
  <strong>Total comments:</strong>
  <%= @content.comment.count %>
</p>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
