<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  
    <%=f.text_area :comment_title,:rows=>"7" ,:cols=>"60" ,required: true%><br>
    <%= f.select :content_id, Content.all.collect {|c| [( c.news_title ), c.id]}%>
    <%= f.hidden_field :comment_author, :value => current_user.name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
