<% provide(:title, "New comments") %>


<h1>Listing Comments</h1>


    <% @comments.each do |comment| %>
      
        <%= link_to comment.comment_author , current_user%>
          <%= time_ago_in_words(comment.created_at) %> ago|
         on <%= link_to comment.content.news_title, '/item?id=' << comment.content.id.to_s%><br>
        <%= comment.comment_title %><br><br>
    
       
    <% end %>

<br>
<%= link_to 'New comment', new_comment_path %>
