<p id="notice"><%= notice %></p>

<p>
  <strong>Comment title:</strong>
  <%= @comment.comment_title %>
  
</p>

<p>
  <strong>Commented by:</strong>
  <%= @comment.comment_author %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
