<% provide(:title, @content.news_title)%>
<%= @content.news_title %> (<%= @content.news_source %>) <br> 
by <%= link_to @content.author, current_user %> 
   <%= time_ago_in_words(@content.created_at) %> ago|
   <%= link_to @content.comment.count.to_s << ' comments', '/item?id=' << @content.id.to_s %>
     
<%= form_for(@comment_in_content) do |f| %>
 <div class="field"> 
    <%= f.text_area :comment_title,:rows=>"7" ,:cols=>"60" ,required: true, placeholder: "(required)"%><br />
    <%= f.hidden_field :comment_author, :value => current_user.name %>
    <%= f.hidden_field :content_id, :value => @content.id%>
 </div>
 <div class="actions">
    <%= f.submit 'Add Comment'%>
  </div>
<% end %>
    


<% for comment in @comment do %>
<p>
  <%= comment.comment_author %> <%= time_ago_in_words(comment.created_at) %> ago <br>
  <%= comment.comment_title %>
</p>
<% end %>

