<% provide(:title, "Sign Up") %>
<!DOCTYPE html>
<html>
<body>
   <p align='center'>
        <div class="modal-dialog">
	<div class="loginmodal-container">
				<h5>Create Account</h5><br>
				  <div class="row">
					  <div class="col-md-6 col-md-offset-3">
					    <%= form_for(@user) do |f| %>
					
					      <%= f.label :name %>
					      <%= f.text_field :name, class: 'form-control' %>
					
					      <%= f.label :email %>
					      <%= f.email_field :email, class: 'form-control' %>
					
					      <%= f.label :password %>
					      <%= f.password_field :password, class: 'form-control' %>
					
							<br>
					      <%= f.submit "Create my account", class: "btn btn-primary" %>
					    <% end %>
					  </div>
					</div>
				  </div>
					
</p>
</body>
</html>