<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
</head>
<body>
<div class="jumbotron">
    <h1>About</h1>
    <p><h3>Name of group members:</h3><br><br>
    <h4>Bramantha Patra s3549111</h4>
    <h4>St Ee Pon s3525667</h4>
    </p>
</div>
<p>
    Heroku:
</p>
<p>
    <a href="https://bitbucket.org/s3525667/rad18_assign_2_group_-s3525667-_-s3549111/"> Bitbucket URL </a>
</p>
</body>
</html>