<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
</head>
<body>
<div class="center jumbotron">
  <h1>RAD Assignment 2</h1><br>
  <h2>@news_title</h2>
  

  
  <button type="button" class="btn btn-outline-secondary btn-lg"><%= link_to "Contents", controller:"contents" , action: "index"%></button>
  

</body>
</html>
<p id="notice"><%= notice %></p>