<% provide(:title, "Submit") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
</head>
<body>
   <p align='center'>
        <div class="modal-dialog">
	<div class="loginmodal-container">
<h3>Log in</h3>

	<div class="row">
	  <div class="col-md-6 col-md-offset-3">
	    <%= form_for(:session, url: login_path) do |f| %>
	
	      <%= f.label :email %>
	      <%= f.email_field :email, class: 'form-control' %>
	
	      <%= f.label :password %>
	      <%= f.password_field :password, class: 'form-control' %>
	
	      <%= f.submit "Log in", class: "btn btn-primary" %>
	    <% end %>
	    
	    <%= form_for(@user) do |f| %>
					
					      <%= f.label :name %>
					      <%= f.text_field :name, class: 'form-control' %>
					
					      <%= f.label :email %>
					      <%= f.email_field :email, class: 'form-control' %>
					
					      <%= f.label :password %>
					      <%= f.password_field :password, class: 'form-control' %>
					
					      <%= f.label :password_confirmation, "Confirmation" %>
					      <%= f.password_field :password_confirmation, class: 'form-control' %>
					
							<br>
					      <%= f.submit "Create my account", class: "btn btn-primary" %>
					    <% end %>
	
	    <!--<p> Don't have an account? <%= link_to "Sign Up Now", controller:"users" , action: "signup"%> </p> -->
	  </div>
	</div>
 
  </div>
				  
	<div class="modal-dialog"></div>
					
</p>
</body>
</html>