<% provide(:title, "New comments") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
</head>
<body>
<h1>About</h1>

  <b>Name:</b>
  <%= @current_user.name %>
</p>
 
<p>
  <b>ID:</b>
  <%= @current_user.id %>
</p><br>

<h2>Add a comment:</h2><br>


</p>
</body>
</html>