<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
  <header class="navbar-fixed-top navbar-inverse">
       <%= image_tag("Picture1.gif" ,:size => "80x40") %> 
        <ul class="nav navbar-nav navbar-right">
          <!--https://apidock.com/rails/ActionView/Helpers/UrlHelper/link_to-->
          <li><%= link_to "Home",   '/' %></li>
          <li><%= link_to "Comments", '/newcomments' %></li>
          <!--controller:"comments" , action: "index"-->
          <li><%= link_to "Submit", '/submit'%></li>
           <% if logged_in? %>
           <li><%= link_to "Log out", controller:"sessions" , action: "destroy" %></li>
            <% else %>
          <li><%= link_to "Log in", controller:"sessions" , action: "new"%></li>
        <% end %>
        </ul>
  </header>
</body>
<br>

<div class="container" align="bottom">
  <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      
  <%= yield %>
</div>

<footer  class="navbar-fixed-bottom">
<ul align='center'>
  <%= link_to "API",   'https://github.com/pigfly/RMIT-CSIT-RAD/tree/master/2018_S1/assignment2' %> | 
  <%= link_to "About", controller:"rad" , action: "about" %>
</ul>
</footer>
 

</html>

